
.main{
    overflow: hidden;
}

.slide{
    text-align: center;
}
.slide h1{
    font-weight: 100;
    font-size:200px;
}
.slide h2{
    font-weight: 300;
    font-size:100px;
}
.slide h3{
    font-weight: 300;
    font-size:90px;
}
.slide p{
    font-weight: 300;
    font-size:80px;
}
.slide .small{
    font-weight: 300;
    font-size:60px;
}

.slide .super-small{
    font-weight: 300;
    font-size:55px;
}
.slide .bullet{
    position:absolute;
    left: -200px;
    top: -200px;
    font-size: 800px;
    font-weight: 400;
    opacity: .2;
}
.slide .pink{
    color:pink;
}
.slide .emphasis{
    color: red;
}
.slide .bring{
    position:absolute;
    left: -50px;
    top: -80px;
    font-size: 230px;
    font-weight: 400;
    opacity: .3;
}
.slide ul, .slide li{
    list-style: none;
    font-weight: 300;
    font-size:80px;
    white-space: nowrap;
}
