[submodule "js/famous"]
	path = js/famous
	url = git@github.com:Famous/famous.git
[submodule "tools"]
	path = tools
	url = git@github.com:Famous/build-tools.git
[submodule "js/famous-views"]
	path = js/famous-views
	url = git@github.com:Famous/famous-views.git
[submodule "js/famous-animation"]
	path = js/famous-animation
	url = git@github.com:Famous/animation.git
[submodule "js/famous-color"]
	path = js/famous-color
	url = git@github.com:Famous/color.git
[submodule "js/famous-physics"]
	path = js/famous-physics
	url = git@github.com:Famous/famous-physics.git
[submodule "js/famous-sync"]
	path = js/famous-sync
	url = git@github.com:Famous/famous-sync.git
[submodule "js/famous-ui"]
	path = js/famous-ui
	url = git@github.com:Famous/ui.git
[submodule "js/famous-utils"]
	path = js/famous-utils
	url = git@github.com:Famous/utils.git
[submodule "js/famous-modifiers"]
	path = js/famous-modifiers
	url = git@github.com:Famous/famous-modifiers.git
[submodule "js/famous-performance"]
	path = js/famous-performance
	url = git@github.com:Famous/famous-performance.git
[submodule "js/famous-transitions"]
	path = js/famous-transitions
	url = git@github.com:Famous/famous-transitions.git
[submodule "js/famous-utilities"]
	path = js/famous-utilities
	url = git@github.com:Famous/famous-utilities.git
[submodule "js/famous-surfaces"]
	path = js/famous-surfaces
	url = git@github.com:Famous/famous-surfaces.git
